<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <title>Vue.JS Project</title>
</head>

</head>
<body>

    <div class="container pt-5" id="app">
        <div class="card">
            <h1 :style="{
                fontSize: inputValue.length < 15 ? '3rem' : '2rem'
            }">{{ title }}</h1>
            <div class="form-control">
                <input
                type="text"
                ref="noteInput"
                v-bind:placeholder="placeholderString"
                v-bind:value="inputValue"
                v-on:input="inputChangeHandler"
                v-on:keypress.enter="addNewNote"
            />
            </div>
            <button class="btn" v-on:click="addNewNote">Aggiungere</button>
            <hr>
            <ul class="list" v-if="notes.length !== 0">
                <li class="list-item" v-for="(note, id) in notes">
                    {{ capitalize(note) }}
                    <!-- {{ toUpperCase(note) }} -->
                    <button class="btn danger" v-on:click="removeNote(id)">Elimina</button>
                </li>
                <hr>
                <li>
                    <strong>Quantità: {{ notes.length }}</strong> | Quantità doppia: {{ doubleCountComputed }}
                </li>
            </ul>
            <div v-else>Non ci sono note.</div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/app.js"></script>
    <div>PROVA</div>
</body>
</html>